input {
  rabbitmq {
    host => "0.0.0.0"
    queue => "HRDD-Q"
    key => "HRDD-K"
    exchange => "HRDD-X"
    threads => 1
    prefetch_count => 50
    port => 5672
    user => '{{ rabbitmq_admin_user }}'
    password => '{{ rabbitmq_admin_pass }}'
  }
  rabbitmq {
    host => "0.0.0.0"
    queue => "RPC-Q"
    key => "RPC-K"
    exchange => "RPC-X"
    threads => 1
    prefetch_count => 50
    port => 5672
    user => '{{ rabbitmq_admin_user }}'
    password => '{{ rabbitmq_admin_pass }}'
  }
  rabbitmq {
    host => "localhost"
    queue => "SFTP-Q"
    key => "SFTP-K"
    exchange => "SFTP-X"
    threads => 4
    prefetch_count => 50
    port => 5672
    user => '{{ rabbitmq_admin_user }}'
    password => '{{ rabbitmq_admin_pass }}'
    vhost => "/"
  }
}
