input {
  rabbitmq {
    host => 'localhost'
    queue => 'HRDD-Q'
    key => 'HRDD-K'
    exchange => 'HRDD-X'
    threads => 2
    port => 5672
    user => '{{ rabbitmq_admin_user }}'
    password => '{{ rabbitmq_admin_pass }}'
    vhost => '/'
  }
  rabbitmq {
    host => 'localhost'
    queue => 'RPC-Q'
    key => 'RPC-K'
    exchange => 'RPC-X'
    threads => 2
    port => 5672
    user => '{{ rabbitmq_admin_user }}'
    password => '{{ rabbitmq_admin_pass }}'
  }
}
