output {
  # Print each event to default elastic.
  elasticsearch  {
    host => {{ logstash_elasticsearch_host }}
    protocol => node
    cluster => {{ logstash_elasticsearch_cluster }}
    index => {{ logstash_elasticsearch_index }}
  }
}
